[Unit]
Description= iotconnect python telemetry service, runs forever
After=network.target
Wants=network.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/home/root/iotc-application.sh
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
